html {
    background-color: #FEFEFE;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    color: #FEFEFE;
}

.my_container {
    width: 100%;
    background-image: url("../image/background.png");
    background-position: center top;
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    padding: 0;
    margin: 0;
}

a {
    display: block;
    text-decoration: none;
}


/* --------------------banner&nav-------------------- */

.banner_img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    background: linear-gradient(180deg, rgba(58, 58, 58, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    padding: 40px 100px;
}

.nav_list {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding: 0 40px;
    list-style: none;
    align-items: right;
}

.nav_item {
    margin-left: 40px;
}

.nav_link {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: rgba(254, 254, 254, 0.8);
    width: 150px;
}

.nav_link:hover {
    font-weight: 900;
}


/* --------------------news_sectio-------------------- */

.news_section {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    margin: 0 180px 20px 180px;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news_text {
    width: 72%;
    height: 100%;
}

.news {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.news_icon {
    margin-right: 10px;
}

.theme {
    font-family: Poppins;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
}

.news_title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.info {
    font-family: Noto Sans TC;
    font-size: 14px;
    line-height: 30px;
    margin-top: 20px;
}

.news_img {
    width: 24%;
    height: 100%;
}


/* --------------------album_section-------------------- */

.album_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* -----image slider----- */

.slideshow-container {
    position: relative;
    margin: 0;
}

.mySlides {
    display: none;
}

.next {
    cursor: pointer;
    width: auto;
    color: #FEFEFE;
    font-weight: bold;
    font-size: 24px;
    user-select: none;
}

.next:hover {
    font-size: 20px;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}


/* @-webkit-keyframes fade {
    from {
        left: -100%;
        opacity: .4
    }
    to {
        left: 100%;
        opacity: 1
    }
} */

@keyframes fade {
    from {
        opacity: .4;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.album_version {
    width: 18%;
}

.version {
    display: flex;
    align-items: flex-end;
}

.version_list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

.version_item {
    margin-top: 10px;
}

.version_link {
    font-family: Poppins;
    font-size: 14px;
    color: #FEFEFE;
}

.more_btn {
    font-family: Poppins;
    font-size: 18px;
    color: #FEFEFE;
    padding: 10px;
    width: 36%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #FEFEFE;
    box-sizing: border-box;
    border-radius: 100px;
}

.more_btn:hover {
    background-color: #FEFEFE;
    color: #028dcf;
}

.more_btn:active {
    background-color: #FEFEFE;
    color: #028dcf;
}

.arrow_container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_right:hover {
    width: 15px;
    cursor: pointer;
}

.about_album {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    margin: 0;
    margin-right: 180px;
    padding: 40px 80px;
    width: 36%;
    height: 100%;
}


/* --------------------tracklist_section-------------------- */

.tracklist_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(177, 177, 177, 0.46);
    background-blend-mode: color-burn;
    padding: 40px 260px;
}

.tracklist_left {
    width: 50%;
}

.track {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.track_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.track_item {
    padding: 10px;
    height: 45px;
    border-bottom: 1px solid #FEFEFE;
    display: flex;
    align-items: center;
    position: relative;
}

.track_link {
    font-family: Poppins;
    font-size: 14px;
    color: #FEFEFE;
    margin-right: auto;
}

.track_time {
    padding: 10px;
    height: 45px;
    border-bottom: 1px solid #FEFEFE;
    display: flex;
    align-items: center;
    padding-left: 180px;
}

.play {
    cursor: pointer;
}

.pause {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0;
}


/* --------------------footer-------------------- */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 180px;
    background: linear-gradient(180deg, rgba(58, 58, 58, 0.5) 0%, rgba(13, 13, 13, 0.109375) 78.12%, rgba(0, 0, 0, 0) 100%);
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.footer_title {
    font-family: Poppins;
    font-weight: bold;
    font-size: 24px;
}

.footer_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin-left: 40px;
}